.player {

    .img-song {
        display: block;
        max-width: 50%;
        border: solid 1px transparent;
        border-radius: 100%;

        animation: rotate-360 30s linear infinite;
        margin: 0px auto;
    }

        @keyframes rotate-360 {
            0% {transform: rotate(0deg);}
            100% {transform:  rotate(360deg);}
        }

    .hidden-img {
        display: none;
    }

    audio {
        display: block;
        margin: auto;
    }

    p {
        text-align: center;
    }

    .btns-list {
        width: fit-content;
        padding: 10px;
        margin: 10px auto;
        
        .btn {
            padding: 10px 20px;
            margin: 0px 10px;
            cursor: pointer;
        }
    }
}

// Ẩn Player khi không có nhạc
.hidden-player {
    img {
        display: none;
    }
}

@media (min-width:801px) {
    .player {
        width: 50%;
        margin: auto;
    }

    audio {
        max-width: 50%;
    }
}