* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.music-list-div {
  margin: auto;
  cursor: pointer;
  
  ul {
    width: 100%;
    list-style-type: none;
    padding: 0px;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

@media (min-width:801px) {
  .music-list-div {
    width: 50%;
  }
}
